# 编译产物
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
*.apk

# IDE
.idea/
.vscode/
*.iml

# Tesseract 训练数据(由 CI 下载,不提交)
*.traineddata
